@font-face {
    font-family: ark;
    src: url(fonts/Noah-Regular.ttf);
}

:root {
    --bg: #F9F9E0;
    --btbg: white;
    --bttc: rgb(255, 255, 255);

    --buttonColor: rgb(255, 255, 255);
    --btnShadow: rgba(62, 62, 62, 0.482);
}

html,
body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    margin: 0px;
    font-family: ark;
}

main {
    height: 100%;
    background: var(--bg);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}



.score {
    width: 60vw;
    line-height: 50px;
    color: var(--buttonColor);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.318), 0 0 5px #77777766;
    font-size: 1.8rem;

    font-weight: 900;
    padding-left: 50px;
    margin-top: 6%;

    background-color: #C6EBC5;

    border: 5px solid #aeaeaeda;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: 0 7px var(--btnShadow);
}


.container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.btn {
    min-width: 170px;
    min-height: 170px;

    color: var(--bttc);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.437), 0 0 5px #77777790;
    font-size: 1rem;
    font-weight: 400;

    border-radius: 50%;
    border: none;
    cursor: pointer;

    font-size: 16px;
    transition: all 0.2s;
    box-shadow: 0 7px var(--btnShadow);
}

#reset {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 1%;
}

#reset:hover {
    color: rgb(71, 71, 195);
}



/* ?ROCK */

.rock {
    background-color: #FA7070;
}

.rock:hover {
    background-color: #ef2512cb;

}

.rock:active {
    box-shadow: 0 0px var(--btnShadow);
    transform: translateY(7px);
}

/* ?PAPER */

.paper {
    background-color: #A1DD70;
}

.paper:hover {
    background-color: #0fd426b2;
}

.paper:active {
    box-shadow: 0 0px var(--btnShadow);
    transform: translateY(7px);
}

/* ?SCISSORS */

.scissors {
    background-color: #83cff8;
}

.scissors:hover {
    background-color: #0271c6a4;
}

.scissors:active {
    box-shadow: 0 0px var(--btnShadow);
    transform: translateY(7px);
}